.App {
  text-align: center;
}


.selection_boxes {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.dropdown {
  padding: 10px;
  font-size: 15px;
}


.result {
  font-size: 20px;
}


.highlight {
  font-weight: bold;
  font-size: 25px;
}

.fade {
  color: gray;
}